@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  font-size: 100%; //default navegadores 16px
}

//Podemos hacer clases utilitarias acá, lo que querramos como .text-24, etc

.text-black {
  color: var(--text-main);
}

.text-muted {
  color: var(--text-muted);
}

.text-white {
  color: #ffff;
}

/* ------------------------------ */

.text-20 {
  font-size: 1.3rem;
}
.text-22 {
  font-size: 1.4rem;
}
.text-24 {
  font-size: 1.5rem;
}
